.card {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  width: 100%;
  
  h4 {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
  }

  p {
    margin: 0;
    white-space: pre-line;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.textEditor {
  min-height: 5rem;
  resize: vertical;
}
