.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  .button {
    margin: 0 0.5rem;
    width: 100%;
    max-width: 200px;
  }
}

.monitoringGridContainer {
  display: grid;
  grid-template-columns: minmax(auto, 130px) auto minmax(auto, 130px);
  grid-template-rows: 60px auto minmax(60px, auto);
  border: solid var(--bg-primary) 1px;
  padding: 0;

  .backgroundColorAccent {
    background-color: var(--bg-accent);
  }

  .backgroundColorDanger {
    background-color: var(--bg-danger);
  }

  .horizontalGridContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .verticalGridContainer {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
  }

  .elementsGridContainer {
    display: grid;
    grid-auto-columns: 120px;
    grid-auto-rows: 60px;
  }

  .gridElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-weight: bold;
    word-break: break-all;
    overflow: hidden;
    border: solid var(--bg-primary) 1px;

    p {
      text-align: center;
    }
  }

  .statisticsGridElement {
    align-items: flex-start;
    font-weight: normal;
    word-break: keep-all;

    .parameter {
      color: var(--primary-light);
    }
  }
}
